# database credentials
DB_NAME=db
DB_USER=admin
DB_PASS=root
DB_HOST=localhost
DB_PORT=5432

# postgres credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=root
POSTGRES_DB=db

# development flags
NODE_ENV="development"

# discord bot credentials
TOKEN=
CLIENT_ID=
GUILD_ID=

# api keys
LOL_KEY=
LOL_BASE_URL=na1.api.riotgames.com
WAIFU_BASE_URL=https://api.nekosapi.com
OPENAI_API_KEY=